<ion-view view-title="Home">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doHomeRefresh()"></ion-refresher>
		<ion-slide-box does-continue="true" auto-play="true">
			<ion-slide ng-repeat="article in articles">
				<div>
					<a href="#/tab/article/{{$index}}">
						<img ng-if="article.MediaImage.filename.length > 0" img-cache ic-src="{{imageDir+article.MediaImage.filename}}/width:800/height:450/crop:true/zoom:auto" style="width: 100%;" />
					</a>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>